
/* main{
    background-color: #4f4646;
    size: 100%;
} */


.spellsPage{
    background-color: #e7cfe1;
    /* height: 100vh; */
    padding-top: 20px;
    size: 100%;
    padding-bottom: 10px;
}